<!doctype html>
<html lang="en" ng-app="weblabDevices">
<head>
    <meta charset="utf-8">
    <title>Testing tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

</head>
<body id="body" ng-controller="WebLabListCtrl">
    <div class="container">
        <div class="jumbotron"> 
            <div class="text-center">
                <h1>Testing tool</h1>
                <h2>Try the WebLab-Deusto protocol translator</h2>
            </div>
        </div>

        <div class="row">
            <h2>Reservation identifier</h2>
            <p>WebLab-Deusto uses a reservation identifier. You need one of these. If running in the fake mode, this is not required, so you can type here whatever:</p>
            <select id="lab_id">
                <option value="archimedes" selected>archimedes</option>
                <!-- other labs -->
            </select>
            <input type="text" id="reservation_id_text" value="asdfasdf.route1"></input><button id="activateWebSocket" class="btn btn-default">Connect</button>
        </div>

        <div class="row" id="metadata_row" style="display: none">
            <h2>Metadata</h2>
            <p>This button calls the <tt>getSensorMetadata</tt>, displays it and processes it.</p>
            <a href="#" class="btn btn-primary" id="getSensorMetadata">getSensorMetadata</a>
            <br>
            <br>
            <textarea id="getSensorMetadataResponse" style="display: none; width: 100%; height: 300px">
            </textarea>
            <br>
            <table id="sensorsTable" style="display: none" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>sensorId</th>
                        <th>Full name</th>
                        <th>Sensors</th>
                        <th>Description</th>
                        <th>Run</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sensor in sensors">
                        <td>{{ sensor.sensorId }}</td>
                        <td>{{ sensor.fullName }}</td>
                        <td>{{ sensor.sensorNames }}</td>
                        <td>{{ sensor.description }}</td>
                        <td><button class="btn btn-primary" ng-click="processSensor(sensor)"><span class="glyphicon glyphicon-play"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row" id="sensor_row" style="display: none">
            <h2>Sensor {{ sensorName }}</h2>

            
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script>
        var weblabDevices = angular.module('weblabDevices', []);
        weblabDevices.controller('WebLabListCtrl', function ($scope) {
          $scope.sensors = [];
          $scope.sensorName = "";
          $scope.processSensor = processSensor;

          function processSensor(sensor) {
                $("#sensor_row").show();
                $scope.sensorName = sensor.fullName;
                websocket.send(JSON.stringify({
                        "method" : "getSensorData",
                        "sensorId" : sensor.sensorId,
                        "configuration" : [],
                        "accessRole" : "controller"
                    }));
          }

        });

        var websocket; 

        function onMessage(evt) {
            var jsonResponse = JSON.parse(evt.data);
            console.log(jsonResponse);
            if (jsonResponse['error'] == true) {
                alert(jsonResponse['message']);
            } else if (jsonResponse['method'] == 'getSensorMetadata') {
                processSensorMetadata(jsonResponse);
            } else {
                alert("Invalid response: " + evt.data);
            }
        }
        
        $("#activateWebSocket").click(function() {
            var reservation_id = $("#reservation_id_text").val();
            console.log(reservation_id);   
            var lab_id = $("#lab_id").val();
            console.log(lab_id);
            var url_prefix = location.pathname.split("/static")[0];
            websocket = new WebSocket('ws://' + location.host + url_prefix + '/devices/sensors?reservation_id=' + reservation_id + "&lab_id=" + lab_id);
            websocket.onmessage = onMessage;
            $("#metadata_row").show();
        });

        $("#getSensorMetadata").click(function() {
            websocket.send(JSON.stringify({ 
                "method" : "getSensorMetadata"
            }));
        });

        function processSensorMetadata(response) {
            var scope = angular.element($("#body")).scope();
            scope.$apply(function(scope){
                scope.sensors = [];
                $(response.sensors).each(function (pos, value) {
                    var name = "";
                    $(value.values).each(function(pos, value) {
                        name += value.name + ", ";
                    });
                    var obj = {
                        'sensorId' : value.sensorId,
                        'description' : value.description,
                        'fullName' : value.fullName,
                        'sensorNames' : name,
                        'sensors' : value.values
                    };
                    scope.sensors.push(obj);
                });
            });
            $("#sensorsTable").show();
            $("#getSensorMetadataResponse").html(JSON.stringify(response, null, 4));
            $("#getSensorMetadataResponse").show();
        }

    </script>
</body>
</html>
